<!DOCTYPE html>
<head>
    <title>Document</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- <h1>Hello</h1> -->
    <form method="post">
        {% csrf_token %}
        <table border="0.5">
            <tr>
                <td><input type="text" placeholder="Enter number 1" name="input_one"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Enter number 2" name="input_two"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="add">+</button>        
                    <button type="submit" name="sub">-</button>
                    <button type="submit" name="mul">*</button>
                    <button type="submit" name="div">/</button>
                </td>
            </tr>
            <tr>
                <td>
                    <span> &nbsp;Result: </span> 
                </td>
            </tr>
        </table>
    </form>
</body>
</html>